.toggle {
    position: absolute;
}

.content {
    font-size: 120%;
}

.text {
    margin-left: 20px;
}

.remove {
    cursor: pointer;
}

.completed {
    color: #d9d9d9;
    text-decoration: line-through;
}